<div class="container">
  <h1> <%= @movie.title %> </h1>
    <p class="card-text"><%= @movie.year %></p>
    <img src="<%= @movie.image %>" class="card-img-top" alt="">
    <h3>Acteurs</h3>
    <% @movie.casts.each do |cast| %>
      <p class="card-text"><%= Actor.find(cast.actor_id).fullname %></p>
    <% end %>
    <h3>Genres</h3>
    <% @movie.categories.each do |category| %>
      <p class="card-text"><%= Genre.find(category.genre_id).content %></p>
    <% end %>
</div>
