<div class="container">
  <h1 class="uppercase-text center-text"><%= @movie.title %></h1>
  <div class="card-movie-info">
    <%= link_to "", movies_path(), class: "btn btn-flat fa-solid fa-arrow-left"%>
    <img src="<%= @movie.image %>" alt="" class="movie-poster">
    <div class="movie-info">
      <div class="movie-short-info">
        <div class="info">
          <h4>Genres</h4>
          <% @movie.categories.each do |category| %>
            <p><%= Genre.find(category.genre_id).content %></p>
          <% end %>
        </div>
        <div class="info">
          <h4>Année</h4>
          <p><%= @movie.year %></p>
        </div>
      </div>
      <h4 class="large-background">Acteurs</h4>
      <div class="avatars">
        <% @movie.casts.each do |cast| %>
          <div class="actor-infos">
            <img src="<%= Actor.find(cast.actor_id).avatar %>" class="avatar-bordered" alt="">
            <p class="center-text"><%= Actor.find(cast.actor_id).fullname %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
